<form action="/" method="post">
    {% for f in form %}
         {{ f.label }} {{ f }}
    {% endfor %}
    <input type="submit" value="Искать">
</form>

{% for field, errors in form.errors.items() %}
    <div class="alert alert-error">
        {{ form[field].label }}: {{ ', '.join(errors) }}
    </div>
{% endfor %}
<p>
    {{ result }}
</p>